body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Menghilangkan scroll */
    background-color: #000; /* Warna dasar hitam */
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}